{{!< default}}

{{#post}}

<main class="gh-main gh-outer">
    <div class="gh-inner">
        <article class="gh-article {{post_class}}">
            {{#match @page.show_title_and_feature_image}}
                <header class="gh-article-header gh-canvas">
                    <ascii-banner text="{{title}}" font-url="{{asset "figs/Ivrit.flf"}}"></ascii-banner>
                    {{#if custom_excerpt}}
                        <p class="gh-article-excerpt">{{custom_excerpt}}</p>
                    {{/if}}
                </header>
            {{/match}}

            <section class="gh-content gh-canvas">
                {{content}}
            </section>
        </article>
    </div>
</main>

{{/post}}